<div class="message question" >
  <p><%= @question %></p>
  <p>- Your Question</p>
</div>

<div class="message answer">
  <p><strong><%= @answer %></strong></p>
  <p>- Coach Message</p>
</div>




<%= link_to 'Ask another question', '/ask' %>
