<h3>Ask your coach anything:</h3>
<form action="/answer">
  <div class="form">
      <input class="text" type="text" name="question">
      <input class="ask" type="submit" value="Ask!">
  </div>
</form>
